<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"
    content = "width-device-width, initial-scale = 1">
    
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Welcome to the Weather Wizz!</h1>
      <h2>Please Insert the name of any city and country</h2>
      <form method="post" action= "/result">
        City: <input type="text" name="city"><br>
        Country: <input type="text" name="country"><br>
        <input type="submit" value="Get the weather">
      </form>
    </div>
  </body>
</html>
